<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>PermanentMarker-Regular.ttf</string>
		<string>Oswald-VariableFont_wght.ttf</string>
	</array>
    <key>NSGKFriendListUsageDescription</key>
    <string>get friends to invite them to play</string>
</dict>
</plist>
